WIX_CLOUD_PROVIDER="KUBERNETES"
WIX_CLIENT_ID="6d9a1b8b-..."
WIX_CLIENT_INSTANCE_ID="cbef9cf1-..."
WIX_CLIENT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlbvXvy3R4iVTNgeBqOnN
cu7ma6VGR5dKUb2CMrZ3...
-----END PUBLIC KEY-----"
WIX_CLIENT_SECRET="0eb7ed63-..."